__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
ENV/
.envrc
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
.pyproject
build/
dist/
*.egg-info/
.eggs/
